<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">BAKHT</a>
    <div class="navbar-links">
      <a href="/">Home</a>
      <a href="/jobs">Jobs</a>
      <a href="/products">Products</a>
      <a href="/blogs">Blogs</a>
      <a href="/services">Services</a>
    </div>
  </div>
</nav>
